@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  padding: 0;
  margin: 0;
  scrollbar-width: none;
}

body {
  background-image: url('/bgc.jpg');
}

p, h3, button {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.center-app {
  display: flex;
  justify-content: space-between;
}