@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

* {
    padding: 0;
    margin: 0;
    scrollbar-width: none;
}

body {
  background-image: url('../public/bgc.jpg');
  
}

p, h3, button {
  font-family: "Titan One", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.center-app {
  display: flex;
  justify-content: space-between;
}