.choice-menu {
    width: 100%;
    background-color: rgba(247, 242, 250, 1);
    border: 3px solid #585858;
    outline: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-right: 40px;
    margin-left: 40px;
    padding: 15px;
}

.choice-item {
    width: 200px;
    height: 200px;
    background-color: rgb(138, 138, 138);
    border: 3px solid #585858;
    outline: 3px solid black;
}

.active-choice-item {
    width: 200px;
    height: 200px;
    background-color: rgb(138, 138, 138);
    border: 10px solid #585858;
    outline: 3px solid black;
}