.choice-menu {
    width: 100%;
    background-color: rgba(247, 242, 250, 1);
    border: 3px solid #585858;
    outline: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-right: 40px;
    margin-left: 40px;
    padding: 15px;
}

.choice-item {
    transition: scale 0.1s, border 0.1s, outline 0.1s linear;
    width: 200px;
    height: 200px;
    background-color: rgb(138, 138, 138);
    border: 3px solid #585858;
    outline: 3px solid black;
}

.choice-item:hover, .active-choice-item:hover {
    scale: 1.05;
}

.choice-item:active, .active-choice-item:active {
    scale: 0.95;
}

.active-choice-item {
    transition: scale 0.1s, border 0.1s, outline 0.1s linear;
    width: 200px;
    height: 200px;
    background-color: rgb(138, 138, 138);
    border: 10px solid #585858;
    outline: 3px solid black;
}

.skin-item-preview, .skin-item-preview img {
    width: 200px;
    height: 200px;
}

.skin-item-preview img {
    pointer-events: none;
}