.header {
    width: 100vw;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    background-color: rgba(247, 242, 250, 1);
    border-bottom: 3px solid #585858;
    outline: 3px solid black;
}

.header h3 {
    font-size: 48px;
}