.skin {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: rgba(247, 242, 250, 1);
    border: 3px solid #585858;
    outline: 3px solid black;
    height: 680px;
}

.upload-but, .download-but {
    transition: scale 0.1s linear;
    width: 300px;
    min-height: 65px;
    background-color: #888888;
    border: 3px solid #585858;
    outline: 3px solid black;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

.upload-but {
    background-color: #2974ff;
}

.upload-but:hover, .download-but:hover {
    scale: 1.05;
}

.upload-but:active, .download-but:active {
    scale: 0.95;
}

.download-but {
    background-color: #3dda45;
}

input {
    display: none;
}

.download-a {
    display: none;
}